@import './question.css';
@import './sidebar.css';
@import './checkbox.css';
@import './bottombar.css';

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#root {
    max-width: 600px;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: fixed;
    direction: rtl;
    background-color: #213547;
    overflow: hidden;
    /* position: relative; */
    /* @apply border mx-8; */
    @apply font-ibm flex flex-col;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}
