/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* max-width: 600px; */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
